.divider {
  max-width: 80%;
  margin: 2rem auto;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)),
    transparent
  );
}
