@keyframes rotate-animation {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.label {
  font-size: 4.375rem;
  animation: rotate-animation 1s infinite;
}

.indicator {
  --indicator-color: transparent;
  --indicator-size: 6.25rem;
  --indicator-top: 50%;
  --indicator-right: 2.5rem !important;
}

.loader {
  --loader-color: var(--mantine-color-orange-filled);
}

.hidden {
  display: none;
}

.avatar {
  width: 21.875rem;
  height: 21.875rem;
  transition:
    width 0.3s ease,
    height 0.3s ease;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

.avatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@media (max-width: 768px) {
  .avatar {
    width: 12.5rem;
    height: 12.5rem;
    transition:
      width 0.3s ease,
      height 0.3s ease;
  }

  .indicator {
    --indicator-size: 4.0625rem;
    --indicator-right: 1.25rem;
  }

  .label {
    font-size: 3.125rem;
  }
}
