.title {
  text-align: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: clamp(2rem, 5vw + 1rem, 6rem);
  font-weight: 900;
  letter-spacing: clamp(-0.3rem, -1vw, -2rem);
  transition: font-size 0.3s ease, letter-spacing 0.3s ease;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 1rem;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.subtitle {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.subtitle:hover {
  opacity: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
  .title {
    font-size: rem(40px);
    letter-spacing: rem(-1px);
  }
  
  .subtitle {
    font-size: 1rem;
  }
}