.title {
  text-align: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: clamp(2rem, 5vw + 1rem, 6rem);
  font-weight: 900;
  letter-spacing: clamp(-0.5rem, -1vw, -2rem);
  transition: font-size 0.3s ease, letter-spacing 0.3s ease;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .title {
    font-size: rem(40px);
    letter-spacing: rem(-1px);
  }
}