.consent-status {
  display: inline-block;
}

.consent-status--granted {
  color: var(--mantine-color-green-6);
}

.consent-status--denied {
  color: var(--mantine-color-red-6);
}

.consent-status--pending {
  color: inherit;
}
