.iframe_container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.custom_button {
  background: linear-gradient(
    45deg,
    var(--mantine-color-yellow-filled) 0%,
    var(--mantine-color-red-filled) 100%
  );
  color: white;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}

.custom_button:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.05);
}
