.section {
  margin-bottom: 0.5rem;
}

.section__text {
  line-height: 1.7;
  color: light-dark(var(--mantine-color-dark-10), var(--mantine-color-dark-0));
}

.section__list {
  margin-top: 0.5rem;
}

.section__list li {
  line-height: 1.6;
  color: light-dark(var(--mantine-color-dark-10), var(--mantine-color-dark-0));
}

.section__list strong {
  color: light-dark(var(--mantine-color-dark-10), var(--mantine-color-dark-0));
}

/* Mobile responsive */
@media (max-width: 600px) {
  .section__text {
    font-size: 0.9375rem;
    text-align: justify;
  }

  .section__list {
    margin-left: 0;
    margin-right: 0;
    padding-right: 1.5rem;
  }

  .section__list li {
    text-align: justify;
  }
}
