.header {
    height: rem(56px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    height: rem(56px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-orange-filled);
        color: var(--mantine-color-white);
    }
}

.linkLabel {
    margin-right: rem(5px);
}

@media (max-width: 768px) {
    .drawer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .drawer a {
        width: 100%;
        text-align: center;
        font-size: var(--mantine-font-size-lg);
    }
}