.email_button {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-red-8)
  );
  border: light-dark(0.125rem solid var(--mantine-color-red-8), 0);
  color: light-dark(var(--mantine-color-red-8), var(--mantine-color-white));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition: transform 0.3s;
}

.email_button:hover {
  transform: scale(1.1);
}

.email_icon {
  color: light-dark(
    var(--mantine-color-red-8),
    var(--mantine-color-white)
  ) !important;
}

.linkedin_button {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-blue-8)
  );
  border: light-dark(0.125rem solid var(--mantine-color-blue-8), 0);
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-white));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition: transform 0.3s;
}

.linkedin_button:hover {
  transform: scale(1.1);
}

.linkedin_icon {
  color: light-dark(
    var(--mantine-color-blue-8),
    var(--mantine-color-white)
  ) !important;
}

.github_button {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-4)
  );
  border: light-dark(0.125rem solid var(--mantine-color-dark-4), 0);
  color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-white));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition: transform 0.3s;
}

.github_button:hover {
  transform: scale(1.1);
}

.github_icon {
  color: light-dark(
    var(--mantine-color-dark-4),
    var(--mantine-color-white)
  ) !important;
}
