.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  --loader-color: var(--mantine-color-orange-filled);
}

.hidden {
  display: none;
}

.iframe {
  border: 0;
  border-radius: 1.5%;
  width: 100%;
  min-height: 95vh;
}
